pnpm-lock.yaml

public/fonts/google-fonts.css

# Assets
app/assets

src/lato.css
src/vite-env.d.ts

tsconfig.json
.eslintrc.cjs
index.html

public/assets/

src/__generated__/**
src/routeTree.gen.ts
postcss.config.js
README.md