@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNnCV0lP.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNkcV0lP.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNlCV0lP.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNlwV0lP.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNmcUElP.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNmlUElP.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNnCUElP.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDeJqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDppqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDypqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDJp2qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDeJ2qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/s/karma/v16/va9F4kzAzMZRGLjDY8Z_.ttf) format('truetype');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/s/karma/v16/va9I4kzAzMZRGIBv.ttf) format('truetype');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/s/karma/v16/va9F4kzAzMZRGLibYsZ_.ttf) format('truetype');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/s/karma/v16/va9F4kzAzMZRGLi3ZcZ_.ttf) format('truetype');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/s/karma/v16/va9F4kzAzMZRGLjTZMZ_.ttf) format('truetype');
}
